{% extends 'CV_three_zeroAPP/base.html' %}
{% load static %}
{% block content %}
<section class="font">
    <div class="prycts_divContent flex_column">
        <h2>PROYECTOS BAJO LENGUAJE DE PROGRAMACIÓN:</h2>
        <h1 style="color: black;">PYTHON</h1>
        <div class="myFlex flex_column">
            <div class="prycts_divCard prycts_python">
                <video width="360px" height="280px" autoplay muted loop style="margin: 8px;">
                    <source src="../../static/CV_three_zeroAPP/img/SM_Detector_TZ.mp4" type="video/mp4">
                </video>
                <div class="prycts_tecnologies myFlex flex_column">
                    <h1>SM_DETECTOR </br>PRESENTADO EN </br>INNOMARKERS4HEALTH</h1>
                    <h4>Código abierto, repositorio: <a
                            href="https://github.com/samusdr17/SM_Detector">https://github.com/samusdr17/SM_Detector</a>
                    </h4>
                    <h3 style="font-weight: bolder; align-self: flex-start; border-bottom: rgb(0, 0, 0) 1px solid;">
                        PROYECTO DESARROLLADO CON LAS TECNOLOGÍAS: </h3>
                    <span class="prycts_span">
                        <p class="prycts_p django">FRAMEWORK <br />.</p>
                        <p class="prycts_p sqlite3">&nbsp;Data&nbsp;&nbsp;Base<br />.</p>
                        <p class="prycts_p postgreSQL">&nbsp;&nbsp;&nbsp;Gestor de BBDD<br />.</p>
                    </span>
                </div>
            </div>


            <h1 style="color: black;">JavaScript</h1>
            <div class="prycts_divCard prycts_javaSript">
                <video width="360px" height="280px" autoplay muted loop style="margin: 8px;">
                    <source src="../../static/CV_three_zeroAPP/img/cmd_CV.mp4" type="video/mp4">
                </video>
                <div class="prycts_tecnologies myFlex flex_column">
                    <h1>COMMID - a</h1>
                    <h4>
                        Proyecto altruista que ojalá me pueda permitir retomar algún día
                    </h4>
                    <h3 style="font-weight: bolder; align-self: flex-start; border-bottom: rgb(0, 0, 0) 1px solid;">
                        PROYECTO DESARROLLADO CON LAS TECNOLOGÍAS: </h3>
                    <span class="prycts_span">
                        <p class="prycts_p react">FRAMEWORK <br />REACT</p>
                        <p class="prycts_p materialUI">Librería <br />Material-ui</p>
                        <p class="prycts_p nodeJS">Entorno de<br />Ejecución</p>
                    </span>
                </div>
            </div>

            <div class="prycts_divCard prycts_javaSript">
                <video width="360px" height="280px" autoplay muted loop style="margin: 8px;">
                    <source src="../../static/CV_three_zeroAPP/img/videoDB.mp4" type="video/mp4">
                </video>
                <div class="prycts_tecnologies myFlex flex_column">
                    <h1>DRAGON BALL CARD GAME</h1>
                    <h4>
                        El primer proyecto autónomo que realice
                    </h4>
                    <h3 style="font-weight: bolder; align-self: flex-start; border-bottom: rgb(0, 0, 0) 1px solid;">
                        PROYECTO DESARROLLADO CON LAS TECNOLOGÍAS: </h3>
                    <span class="prycts_span">
                        <p class="prycts_p react">FRAMEWORK <br />REACT</p>
                        <p class="prycts_p css">CSS</br>Nativo</p>
                        <p class="prycts_p nodeJS">Entorno de<br />Ejecución</p>
                    </span>
                </div>
            </div>

            <div class="prycts_divCard prycts_javaSript">
                <video width="360px" height="280px" autoplay muted loop style="margin: 8px;">
                    <source src="../../static/CV_three_zeroAPP/img/surveyPresentation.mp4" type="video/mp4">
                </video>
                <div class="prycts_tecnologies myFlex flex_column">
                    <h1>SURVEY</h1>
                    <h4>Código abierto, repositorio: <a
                        href="https://github.com/samusdr17/Survey">https://github.com/samusdr17/Survey</a>
                </h4>
                    <h3 style="font-weight: bolder; align-self: flex-start; border-bottom: rgb(0, 0, 0) 1px solid;">
                        PROYECTO DESARROLLADO CON LAS TECNOLOGÍAS: </h3>
                    <span class="prycts_span">
                        <p class="prycts_p react">FRAMEWORK <br />REACT</p>
                        <p class="prycts_p materialUI">Librería <br />Material-ui</p>
                        <p class="prycts_p nodeJS">Entorno de<br />Ejecución</p>
                    </span>
                </div>
            </div>

            <div class="prycts_divCard prycts_javaSript">
                <a href="https://www.linkedin.com/posts/samuel-s%C3%A1nchez-d%C3%ADaz-rega%C3%B1%C3%B3n-250981129_sigoenelpropositodemejora-gracias-activity-6777214234888552448-qlhh"><h3 style="margin-right: 8px;">VISIONADO DE PRESENTACIÓN</h3></a>
                <div class="prycts_tecnologies myFlex flex_column">
                    <h1>Library</h1>
                    <h4>Código abierto, repositorio: <a
                        href="https://github.com/samusdr17/Library">https://github.com/samusdr17/Library</a>
                </h4>
                    <h3 style="font-weight: bolder; align-self: flex-start; border-bottom: rgb(0, 0, 0) 1px solid;">
                        PROYECTO DESARROLLADO CON LAS TECNOLOGÍAS: </h3>
                    <span class="prycts_span">
                        <p class="prycts_p react">FRAMEWORK <br />REACT</p>
                        <p class="prycts_p" style="padding-right: 12px; color: rgb(0, 0, 0);">https://www.google</br>apis.com/books/</p>
                        <p class="prycts_p nodeJS">Entorno de<br />Ejecución</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}