{% extends 'CV_three_zeroAPP/base.html' %}
{% load static %}
{% block content %}
<section class="myFlex flex_column font">
    <div class="xprnc_divContent">
        <div class="xprnc_div flex_column">
            <span class="xprnc_spanTitle">
                Dispongo de experiencia laboral en múltiples sectores
                como pueden ser sector servicios, sector logístico,
                sector administrativo, sector automoción... También
                dispongo de capacidad para trabajar en equipo y me considero
                alguien que le gusta poder hacerlo, motivado por aprender de
                este y motivado también por poder aportar dentro de este.</br>
                Soy una persona metódica, que le encanta el rigor científico
                y que da un increible valor a las personas humanas.
            </span><span class="xprnc_spanSubtitle">
                "Además de contar con un buen puñado de conocimientos
                en competencias digitales de diferente índole,
                también puedo garantizar de manera
                efectiva y segura mi trabajo dentro de equipos
                con metodologías ágiles."</span>
        </div>
    </div>

    <div class="myFlex xprnc_divCards flex_column" style="color: rgb(29,29,31); text-align: center;">
        <h1>EMPRESAS Y EXPERIENCIA LABORAL ADQUIRIDA</h1>
        <div class="myFlex xprnc_divContentCards">
            <div class="xprnc_div xprnc_around" style="margin-bottom: 40px;">
                <div class="myFlex xprnc_card">
                    <img class="xprnc_imgCard" src="{% static 'CV_three_zeroAPP/img/ikea_TZ.jpg' %}">
                </div>
                <div class="xprnc_div_credits flex_column" style="margin: 8px; padding: 6px;">
                    <h3 class="frmcn_card_h3">IKEA, Badalona, Barcelona</h3>
                    <h4 style="margin-top: 8px;">Desde: SEPTIEMBRE - 2021 Hasta: DICIEMBRE - 2021</h4>
                    <table class="table table-bordered">
                        <thead class="thead-my">
                            <tr>
                                <th colspan="2">Ikea Logistic</th>
                            </tr>
                            <tr>
                                <th style="color: rgb(83, 74, 74);">Habilidades desarroladas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Picking & Packing Transporte</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Picking & Packing Click&Collect</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Picking & Packing Clientes</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Labores de reciclaje</td>
                            </tr>
                        </tbody>
                    </table>
                    <section class="MyFlex flex_column" style="align-self: flex-start;">
                        <h4 style="margin: 0px 0px;">Habilidades adquiridas:</h4>
                        <li style="display: inline-block;">Uso de RDT |</li>
                        <li style="display: inline-block;">Trabajo en equipo </li>
                    </section>
                </div>
            </div>

            <div class="xprnc_div xprnc_around" style="margin-bottom: 40px;">
                <div class="myFlex xprnc_card">
                    <img class="xprnc_imgCard" src="{% static 'CV_three_zeroAPP/img/LeroyMerlin_TZ.jpg' %}">
                </div>
                <div class="xprnc_div_credits flex_column" style="margin: 8px; padding: 6px;">
                    <h3 class="frmcn_card_h3">LEROY MERLIN, Sabadell, Barcelona</h3>
                    <h4 style="margin-top: 8px;">Desde: JULIO - 2021 Hasta: AGOSTO - 2021</h4>
                    <table class="table table-bordered">
                        <thead class="thead-my">
                            <tr>
                                <th colspan="2">Ventas, sección herramientas</th>
                            </tr>
                            <tr>
                                <th style="color: rgb(83, 74, 74);">Habilidades desarroladas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Venta directa al cliente</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Atención al público</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Reposión de material</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Reciclaje</td>
                            </tr>
                        </tbody>
                    </table>
                    <section class="MyFlex flex_column" style="align-self: flex-start;">
                        <h4 style="margin: 0px 0px;">Habilidades adquiridas:</h4>
                        <li style="display: inline-block;">Uso de RDT |</li>
                        <li style="display: inline-block;">Formación en PRL</li>
                    </section>
                </div>
            </div>

            <div class="xprnc_div xprnc_around" style="margin-bottom: 40px;">
                <div class="myFlex xprnc_card">
                    <img class="xprnc_imgCard" src="{% static 'CV_three_zeroAPP/img/BuenasMigas_TZ.jpg' %}">
                </div>
                <div class="xprnc_div_credits flex_column" style="margin: 8px; padding: 6px;">
                    <h3 class="frmcn_card_h3">Buenas Migas, Fira MWC, Barcelona</h3>
                    <h4 style="margin-top: 8px;">Desde: FEBRERO - 2021 Hasta: FEBRERO - 2021</h4>
                    <table class="table table-bordered">
                        <thead class="thead-my">
                            <tr>
                                <th colspan="2">Ventas, Hostelería</th>
                            </tr>
                            <tr>
                                <th style="color: rgb(83, 74, 74);">Habilidades desarroladas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Venta directa al cliente</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Atención al público</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Reposión de producto</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Cocinado</td>
                            </tr>
                        </tbody>
                    </table>
                    <section class="MyFlex flex_column" style="align-self: flex-start;">
                        <h4 style="margin: 0px 0px;">Habilidades adquiridas:</h4>
                        <li style="display: inline-block;">Cocina |</li>
                        <li style="display: inline-block;">Compañerismo</li>
                    </section>
                </div>
            </div>

            <div class="xprnc_div xprnc_around" style="margin-bottom: 40px;">
                <div class="myFlex xprnc_card">
                    <img class="xprnc_imgCard" src="{% static 'CV_three_zeroAPP/img/uber_TZ.jpg' %}">
                </div>
                <div class="xprnc_div_credits flex_column" style="margin: 8px; padding: 6px;">
                    <h3 class="frmcn_card_h3">UBER, Madrid</h3>
                    <h4 style="margin-top: 8px;">Desde: FEBRERO - 2020 Hasta: ABRIL - 2020</h4>
                    <table class="table table-bordered">
                        <thead class="thead-my">
                            <tr>
                                <th colspan="2">Conductor VTC</th>
                            </tr>
                            <tr>
                                <th style="color: rgb(83, 74, 74);">Habilidades desarroladas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Transporte de personas</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Ateción al cliente</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Trato personalzado</td>
                            </tr>
                            <tr>
                                <td style="color: rgb(83, 74, 74);">Auto-gestión del vehículo en propiedad</td>
                            </tr>
                        </tbody>
                    </table>
                    <section class="MyFlex flex_column" style="align-self: flex-start;">
                        <h4 style="margin: 0px 0px;">Habilidades adquiridas:</h4>
                        <li style="display: inline-block;">App Uber Driver |</li>
                        <li style="display: inline-block;">Conducción confortable </li>
                    </section>
                </div>
            </div>
            <div class="xprnc_punto"></div>
            <div class="xprnc_punto"></div>
            <div class="xprnc_punto"></div>
        </div>
    </div>
</section>
{% endblock %}