{% extends 'CV_three_zeroAPP/base.html'%}
{% load static %}
{% block content %}
<section class="myFlex flex_column font">
    <div class="frmcn_divContent">
        <div class="frmcn_div flex_column">
            <span class="frmcn_spanTitle">
                Vengo de la rama de la ingeniería mecánica.
                Dentro del sector (IT) domino tecnologías como
                lenguaje de programación SQL, tanto en entornos dedicados
                a bases de datos relaccionales, como no relaccionales,
                he trabajado con tecnologías de contenedores como
                Dockers y Kubernetes.</br> Los lenguajes de
                programación con los que más cómodo me siento son
                JavaScript y Python, con el cuál
                siento una gran devoción al orientar mi carrera profesional al
                campo del Data science.</br></br>
            </span>
            <!-- <span class="frmcn_spanSubtitle">
                "Además de contar con un buen puñado de conocimientos
                en competencias digitales de diferente índole,
                también puedo garantizar de manera
                efectiva y segura mi trabajo dentro de equipos
                con metodologías ágiles."</span> -->
        </div>
    </div>
    <div class="myFlex frmcn_divCards flex_column" style="color: #fff; text-align: center;">
        <h1>CENTROS DE FORMACIÓN Y ESTÚDIOS REALIZADOS</h1>
        <div class="myFlex frmcn_divContentCards">
            <div class="frmcn_div" style="margin-bottom: 40px;">
                <div class="myFlex frmcn_card">
                    <img class="frmcn_imgCard" src="{% static 'CV_three_zeroAPP/img/nebrijaCard.jpg' %}">
                </div>
                <div class="flex_column frmcn_div_credits" style="margin: 8px; padding: 6px;">
                    <h3 class="frmcn_card_h3">Grado en Ingeniería del automóvil</h3>
                    <h4 style="margin-top: 0px;">2014 - 2018</h4>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">Objetivo logrado: 25%</th>
                            </tr>
                            <tr>
                                <th>Asignatura</th>
                                <th>Créditos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Álgebra I</td>
                                <td>6</td>
                            <tr>
                                <td>Álgebra II</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Cálculo I</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Cálculo II</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Física I</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Física II</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Expresión gráfica I</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Expresión gráfica II</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Fundamentos de programación (Java)</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Miembro club del automóvil (3 años)</td>
                                <td>6</td>
                            </tr>
                        </tbody>
                    </table>
                    <section class="MyFlex flex_column" style="align-self: flex-start;">
                        <h4 style="margin: 0px 0px;">Competencias Digitales:</h4>
                        <!-- <ul style="margin: 0px 0px 0px 0px;"> -->
                        <li style="display: inline-block;">Autocad |</li>
                        <li style="display: inline-block;">CatiaV5 |</li>
                        <li style="display: inline-block;">SolidWords |</li>
                        <li style="display: inline-block;">Matlab |</li>
                        <li style="display: inline-block;">Maple</li>
                        <!-- </ul> -->
                    </section>
                </div>
            </div>


            {% for formacion in formaciones %}
            <div class="frmcn_div" style="margin-bottom: 16px;">
                <div class="myFlex frmcn_card">
                    <img class="frmcn_imgCard" src="{{formacion.imagen.url}}">
                </div>
                <div class="flex_column frmcn_div_credits" style="margin: 8px; padding: 6px;">
                    <h3 class="frmcn_card_h3">{{formacion.titulo}}</h3>
                    <h4 style="margin-top: 0px;">{{formacion.fecha}}</h4>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="2">{{formacion.objetivo_th1}}</th>
                            </tr>
                            <tr>
                                <th>{{formacion.habilidAdq_th2}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elem in formacion.td %}
                            <tr>
                                <td>{{ elem }}</td>
                            <tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    <section class="MyFlex flex_column" style="align-self: flex-start;">
                        <h4 style="margin: 0px 0px;">{{formacion.competencias}}</h4>
                        {% for elem in formacion.li %}
                        <li style="display: inline-block;">{{elem}}</li>
                        {% endfor %}
                    </section>
                </div>
            </div>
            {% endfor %}



        </div>
</section>

{% endblock %}