{% extends 'CV_three_zeroAPP/base.html' %}
{% load static %}
{% block content %}
<div class="srvcs_div">
    <div class="srvcs_dsk">
<div class="srvcs_divCard myFlex flex_column pro">
    <h4 class="srvcs_h4">FULL STACK</h4>
    <h2 class="srvcs_h2">Diseño y Desarrollo tu entorno web al completo</h2>
    <p class="srvcs_p">" Desarrollados utilizando diferentes tecnologías, adaptando las más convenientes a las necesidades requeridas. "</p>
</div>

<div class="srvcs_divCard_cad myFlex flex_column pro">
    <h4 class="srvcs_h4">PROYECTOS CAD</h4>
    <h2 class="srvcs_h2 cad">Desarrollo de proyectos con diferentes tipos de software CAD</h2>
    <p class="srvcs_p">" Diseño y modelado de superficies utilizando AutoCad, CatiaV5, SolidWorks... "</p>
</div>
</div>
<div class="srvcs_dsk">
    <div class="srvcs_divCard_dSct myFlex flex_column pro">
        <h4 class="srvcs_h4">DATA SCIENTIST</h4>
        <h2 class="srvcs_h2 cad">Saca rendimiento a los datos de tu negocio para mejorar su eficiencia</h2>
        <p class="srvcs_p">" Estudio y desarrollo de modelos bajo Machine Learning para gestionar y sacar el máximo rendimiento a tu negocio. "</p>
    </div>

    <div class="srvcs_divCard_spPrf myFlex flex_column pro">
        <h4 class="srvcs_h4">CLASES PARTICULARES</h4>
        <h2 class="srvcs_h2 cad">Tus hijos necesitan un refuerzo con clases particulares? Puedo ayudarte. </h2>
        <p class="srvcs_p">" En materia de matemáticas, Física o fundamentos de programación puedo ayudarles y tratar de aportarles mi dedicación.  "</p>
    </div>
</div>
</div>
{% endblock %}